#red {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 400px;
}

#silver {
    position: absolute;
    top: 350px;
    left: 450px;
}

#green {
    position: fixed;
    top: 100px;
    right: 0px;
}

#blue {
    position: relative;
}

#yellow {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

